{{set . "title" "Home"}}
{{template "header.html" .}}

<!-- <header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div>
</header> -->

<header>
  <!-- <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div> -->
</header>

<body>

  <div class="fluid-container">

  <div class="toolbar">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="#">DESIGN</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>

<main class="home">

  <div style="width: 60px;">
      <i><img  src="/public/img/house.jpeg" id="house" style="margin-left: 100px;"/></i>
  </div>

  <form id="searchForm" action="/App/SearchPage" method="get">
      <input id="input" name="ingres" class="search" type="text" placeholder="Searching for .. ">

      <a href="#" id="camicon" onclick="openwin()"><img  src="/public/img/camera.png" width="20" height="20"type="file"/></a>
       <button id="voiceicon" class="voice" type="button" >
         <a href="chatbot.html">
           <i><img  src="/public/img/voice.png" id="voice" width="20" height="20"/></i>
         </a>
       </button>

      <div class="button-group">
        <button class="button button-default r-search" type="submit" id="searchButton" >
          Recipe Search
        </button>
      </div>
  </form>

  <!-- this part needs to be changed but it works for now -->

  <div class="container">
  	<div class="row">
  		<div class="span6">
  			<form method="post" action="/App/HandleUpload" enctype="multipart/form-data">
  				<p>
  					<label for="avatar"><strong>Avatar*:</strong></label>
  					<input type="file" name="avatar" id="avatar" class="span6">
  				</p>
  				<hr>
  				<input type="submit" value="Upload" class="btn btn-large btn-success">
  			</form>
  		</div>
  		<div class="span6">
  			<i>
  				Your avatar is expected to be in PNG or JPEG format.
  				Minimum allowed resolution is 150x150px.
  				Maximum file size is 2 MB.
  			</i>
  		</div>
  	</div>
  </div>

  <!-- this part needs to be changed but it works for now -->



</main>

  <div class="footer">
    <ul>
      <li><a href="#">Advertising</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>


</div>

</body>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
