{{set . "title" "Home"}}
{{template "header.html" .}}

<!-- <header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div>
</header> -->

<header>
  <!-- <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div> -->
</header>

<body>

  <div class="fluid-container">

  <div class="toolbar">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="#">DESIGN</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>

<main class="home">

  <div style="width: 60px;">
      <i><img  src="/public/img/house.jpeg" id="house" style="margin-left: 100px;"/></i>
  </div>

  <form id="searchForm" action="/App/SearchPage" method="get">
      <input id="input" name="ingres" class="search" type="text" placeholder="Searching for .. ">

      <a href="#" id="camicon" onclick="openwin()"><img  src="/public/img/camera.png" width="20" height="20"type="file"/></a>
       <button id="voiceicon" class="voice" type="button" >
         <a href="chatbot.html">
           <i><img  src="/public/img/voice.png" id="voice" width="20" height="20"/></i>
         </a>
       </button>

      <div class="button-group">
        <button class="button button-default r-search" type="submit" id="searchButton" >
          Recipe Search
        </button>
      </div>
  </form>

</main>

  <div class="footer">
    <ul>
      <li><a href="#">Advertising</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>


</div>

</body>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
