{{set . "title" "Home"}}
{{template "header.html" .}}

<header>

</header>

<body>

  <div class="toolbar">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="#">DESIGN</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>

  <main class="home">

    <div style="width: 60px;">
      <i><img  src="/public/img/house.jpeg" id="house" style="margin-left: 100px;"/></i>
    </div>

    <form id="searchForm" action="/App/SearchPage" method="get">
      <input id="input" name="ingres" class="search" type="text" placeholder="Searching for .. ">

  <a href="/App/Chatbot"><img  src="/public/img/voice.png" id="voice" class="chatbotButton"/></a>

  <div class="button-group">
    <button class="button button-default r-search" type="submit" id="searchButton" >
      Recipe Search
    </button>
  </div>
</form>


<div style="margin-top:-10%; margin-left:50%;">
  <button class="button button-default r-search" id="button" >
    <img src="public/img/camera.png" class="camera">
  </button>
</div>
<div id="overlay"></div>
<div id="popup">
  <div class="popupcontrols">
    <span id="popupclose">X</span>
  </div>
  <div class="popupcontent">
    <form class="form" method="post" action="/App/HandleUpload" enctype="multipart/form-data">
      <p>
        <label for="pic"><strong>Picture*:</strong></label>
        <input type="file" name="pic" id="pic" class="span6">
      </p>
      <hr>
      <input type="submit" value="Upload" class="btn btn-large btn-success">
    </form>

  </div>
</div>

<script src="/public/js/index.js"></script>

</main>

<div class="footer">
  <ul>
    <li><a href="#">Advertising</a></li>
    <li><a href="#">Business</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <ul>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>
</div>


</body>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
